 body{
	 font-family:Arial;
	 font-size:14px;
 }
 a{
	 text-decoration:none;
 }
 .header {
	overflow:hidden;
	background-color:#E8E8E8;
	padding:7px 10px;
    box-sizing:border-box;
    display:flex;            /*to center the floating elements in this div(container)*/
    align-items:center;   /*to center the floating elements in this div(container)*/
	 
}
 
 img{
	 float:left;
 }
input {
	padding:7px;
	width:500px;
	font-size:15px;
	float:left;
	margin-left:10px;
	 
}
.header li {
	float:right;
}
.header ul {
	position:absolute;
	right:30px;
	box-sizing:border-box;
}
.header a {
	margin-right:25px;
}
#sign-in {
	padding:7px;
	border-radius:100%;
	background-color:#3670DC;
	color:white;
}
.header a:not(#sign-in){
	color:black;
	border:1px solid black;
	padding:3px;
}
ul.navbar {
	overflow:hidden;
	border-bottom:1px solid #E2E2E2 ;
	box-sizing:border-box;
	padding-left:50px;
}
.navbar li {
	float:left;
}

.navbar li  a {
	display:block;
	color:grey;
	font-size:14px;
	padding: 20px 7px;
	margin:0 10px;
}

.navbar .active {
	font-weight:bold;
	color:#3670DC;
	border-bottom:3px solid #3670DC;
}

.navbar  li a:hover:not(.active) {
    color:black; 
}
p {
	color:grey;
	font-size:14px;
	line-height:20px;
}
#result {
	margin:20px 0 15px 67px;
}
.container {
	margin:30px 0 30px 67px;
}
.container a {
	font-size:20px;
}
.container a:hover {
	text-decoration:underline;
}
.url {
	color:green;
	font-size:14px;
}
.related {
	padding:20px 7px;
	border-top:1px solid #E2E2E2;
	border-bottom:1px solid #E2E2E2;
	width:50%;
	margin-left:60px;
}
.related p {
	color:grey;
	font-size:20px;
}
.related ul {
	display:inline-block;
}
.related li {
	margin-top:15px;
}
.related ul:nth-child(3){
	margin-left:15px;
}
.related a:hover{
	text-decoration:underline;
}
.footer {
	background-color:#F5F4F4;
    overflow:hidden;
	padding:20px 0 20px 47px;
}
.footer li{
	float:left;
}
.footer ul  a {
	display:block;
	color:grey;
	padding-left:20px;
}
.footer a:hover{
	color:black;
}
.footer p {
	color:grey;
	margin:0 0 20px 20px;
}
.footer p a {
	color:grey;
}
.footer p a:hover{
	color:black;
}